@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap");

@layer base {
  body {
    @apply font-[Poppins];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.nav {
  background: linear-gradient(
    to right,
    rgba(27, 54, 93),
    rgba(0, 191, 178)
  ) !important;
}

/*section {
  display: flex;
}*/

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(27, 54, 93),
    rgba(0, 191, 178)
  ) !important;
}

#inputID::placeholder{
  color: #000000;
  opacity: 1;
}